<h2>Edit member <%= @member.full_name %></h2>

<form method="post" action="/members/ <%=@member.id%>">
  <div>
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= @member.first_name %>"/>
  </div>

  <div>
    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= @member.last_name %>"/>
  </div>

  <div>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" value="<%= @member.address %>"/>
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" value="<%= @member.email %>"/>
  </div>

  <div>
    <input type="submit" value="Update"/>
  </div>
</form>

<div>
  <form action="/members/<%= @member.id %>/delete" method="POST"><input type="submit" value="Delete"/></form>
</div>
