<h1>All the members</h1>
<hr>
<table>
  <tr>
    <th>Full name</th>
    <th></th>
    <th>Address</th>
    <th></th>
    <th>Email</th>
    <th></th>
    <th>Edit information</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.full_name %></a></td>
    <td>|</td>
    <td><%= member.address %></td>
    <td>|</td>
    <td><%= member.email %></td>
    <td>|</td>
    <td><a href="/members/<%= member.id %>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>
<hr>
<form action="/members/new"><input type="submit" value="Add a member"></form>
